#token  |  aes-key(unused) | port
6oMFQwy5AkvMJqmOeT2fXPBvSsszzKU8mFbCJkz4POB20HVn11I6nXQ8rWB0rQlM PeReMq9e7CT9akb6 10022
CtB8vZEQlbEuvqRZxuRP6sd8LqGZUcWGAX85IbDyeoQf2kU3dQgo5raaYARY1tMN PeReMq9e7CT9akb9 10023
Bc4FWcQuLYWQKJPFFNYak4JF7xXJnC9CMz0130rAzr8BcDErYOWTTKl0tlNNpsmS Fwu0m1TGT21Trdsq 18888
