{
  "log": {
    "access": "access.log",
    "error": "error.log",
    "loglevel": "info"
  },
  "inbounds": [
    {
      "port": 10086,
      "listen":"0.0.0.0",
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "efd0e2f9-c82c-422d-b606-3b1ae7770e3f",
            "alterId": 64,
            "security": "auto",
            "level": 0
          }
        ]
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/ws"
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
